*.class
.*.swp
# Package Files #
*.jar
*.war
*.ear

# Intellij Files & Dir #
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
out/
.DS_Store
./lib/
.idea

# Build Files & Dir #
build/
.gradle/
.stickyStorage
.build/
target/

